IMAGE_NAME="basalt-hypr"
REPO_ORGANIZATION="xynap"

IMAGE_DESC="Game developer focused version of Bazzite"
IMAGE_KEYWORDS="bootc,oci,linux"

IMAGE_LOGO_URL="https://media.awakening.wiki/wiki/1/1e/T_UI_IconResourceBasaltR_D.png"
DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
